body{
        margin: 0;
}
#navbar{
        background-color: black;
        display: flex;
        height: 80px;
        width: 100%;
}
#navbar>div{
        margin:auto;
}
#hellodiv{
        /* padding-right: 40px; */
        display:flex ;
        text-align: center;
        margin-top: 20px; 
}
#hellodiv>div>h4{
        margin-top: -5px;
        margin-left: 1px;
}

h4,p{
        color: rgb(255, 255, 255);
}
#subdiv+p{
        color: black;
        margin-top: -10px;
}
h4{
        font-size: 15px;
}
#logo{
        width: 100%;
        margin-left: 20px;
        /* border: 3px solid rgb(255, 166, 0); */
        padding: 3px;
}
#search{
        width: 50%;
        height: 31px;
        margin: auto;
        margin-top: 20px;
}
.fa-magnifying-glass{
        background-color: rgb(255, 166, 0);
        height: 27px;
        width: 60px;
        margin-left: -40px;
        text-align: center;            
}

#alogo{
        width: 12%;
        margin-left: 18px;
        margin-right: 10px;
}
#alogo ~ div{
        margin-left: 40px;
}
#select{
        border-radius: 8%;
        margin-left: 10px;
}
.fa-cart-shopping{
        color: white;
        margin-top: 30px;
        margin-right: 8px;
}
.cart{
        display: flex;
        color: white;
      
}
div>h3{
        margin-right: 15px;
}
#opt{
        padding: 9px;
        margin-right: -12px ;
        margin-top: -3px;
        border-radius: 8% 0px 0px 8%;
}
div>p{
        font-size: 13px;
        margin-bottom: -14px;
}

.subCat{
        display: flex;
        background-color: black;
        color: white;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
}
.subCat>div{
        margin: auto;
        

}
#show1>img{
        width: 100%;
}
#divs{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: auto;
        margin-top: -23%;

}
#divs>div{
        margin: 8px;
        width: 24%;
        background-color: white;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding-bottom: 40px;
}
#divs>div>img{
        width: 100%;
}
img~p{
        color: black;
}

.mobiles{
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        width: 88%;
        margin: auto;
        margin-top: 30px;
        padding: 40px;

}
.mobiles>div{
        display: block;
        margin: auto;
}
.mobiles>div>img{
        padding: 10px;
}
h4+p{
        display: flex;
        color: red;
}
.mobiles>div>div>h4{
        background-color: red;
        color:white;
        margin-right: 5px ;
        margin-top: 12px;
}
.mobiles>div>div{
        display: flex;
}
#div2{
        display: block;
        justify-content: space-between;
        color: black;
        
}
#subdiv{
        justify-content: space-between;
        margin: 2px;
        margin-bottom: 2px;
        display: flex;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 2px 15px;
}
#subdiv>div>img{
        width: 100%;
}
h6{
        margin-top: 0;
        font-size: 13px;
}
h2+button{
        background-color: rgb(250, 242, 6);
        border-radius: 8%;
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 5px;
        border: none;
        margin-bottom: 10px;

}
#div4>div{
        background-color: white;
        /* padding: 20px; */
        
}


